@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}

/**************** Menu Section Start ****************/

header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.marquee {
    width: 1400px; 
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 20px; 
    font-weight: 600; 
    animation: marquee 15s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 32px;
    color: black;
    text-transform: uppercase;
}

.menu-links {
    display: flex;
}

.menu-links li {
    list-style: none;
    padding: 0 50px;
}

.home {
    color: #FEA301;
}

.about {
    color: rgb(32, 175, 232);
}

.facilities {
    color: #05D4DF;
}

.admission {
    color: #5D58EF;
}

.logo-btn {
    background-color: #FEA301;
    padding: 17px 55px;
    border-radius: 10px;
}

.logo-btn a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.bar {
    display: none;
    cursor: pointer;
}

.bar .fa-bars {
    font-size: 30px;
    color: black;
}

input#menuToggle {
    display: none;
}

/***************** Menu Section End **************/

/************* Banner Section Start *****************/

.banner-section{
    display: flex;
    min-height: 700px;
    align-items: center;
    justify-content: space-between;
}

.banner-content h1{
    color:rgb(13, 169, 231);
    font-size: 60px;
    font-weight: 800;
}
.empowering{
    color:#FEA301;
}

.student{
    color:black;
}

.banner-content p{
    color:rgba(0, 0, 0, 0.761);
    font-size: 20px;
    margin-top:20px;
    letter-spacing: 1.5px;
    line-height: 28px;
    max-width: 715px;
}

.banner-button{
    margin-top:50px;
    text-align: center;
}
.banner-button a{
    background-color: black;
    color:white;
    padding: 18px 70px;
    border-radius: 10px;
}
.banner-img img{
    width: 100%;
}

.b-btn{
    text-align: left;
}

/***************** Banner Section End *****************/


/*****************Curriculum Section Start *****************/
 .curriculum{
    width: 1440px;
    margin:50px auto 0;
    padding-bottom:50px;
    background:url(images/bg.png);
    background-position: top center;
}

.curriculum h2{
    text-align: center;
    margin-bottom: 70px;
    color: #000000;
    font-size: 46px;
    font-weight: 800;

}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    gap:100px;
    
}

.service{
    text-align: center;
    background: linear-gradient(to bottom, #def5ff, #FFFFFF);
    padding: 60px 25px;
    border-radius: 15px;
    box-shadow: 0 2px 5px #def5ff;
}

.service img{
    height: auto;
}
.service-title,.stories-title{
    font-size: 25px;
    font-weight: 800;
    color:#202020;
    margin:20px;
}

.service-para{
    color:#808080;
    margin-bottom: 25px;
    line-height: 30px;
}

.service-button a{
    color: #64C8FF;
    font-size: 16px;
}

.elementary{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
.elementary a{
    color: #F0AA00;
}

.middle{
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}
.middle a{
    color:#8700FF;
}

.arrow-section {
    margin-top: 60px;
    display: flex;
    gap:20px;
    justify-content: center;
  }
  
  .arrow-section i {
    font-size: 20px; 
    color: #fff; 
    background-color: #F59E0B; 
    border-radius: 50%; 
    padding: 5px; 
    width: 30px; 
    height: 30px; 
    text-align: center;
    line-height: 30px;
  }
 

/*****************Curriculum Section End *****************/

/*****************Stories Section Start *****************/

.sbg{
    background: url(images/bg.png),linear-gradient(to bottom, #fff, #fea10136);
    overflow: hidden;

}
.stories {
    width: 1440px;
    margin: 0 auto;
    background-position: top center;
    padding:50px 0;


}

.stories-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    color: #000;
}

.stories-gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
}

#first {
    grid-row: span 3;
    position: relative;
    overflow: hidden;
    max-height: 790px;

   
}

.gallery {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.gallery-img img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    position: relative;
}

#first>img {
    min-height: 400px;
    position: relative;
}

.date-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #24D6C0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 20px;
}


.gallery-title h3 {
    font-size: 24px;
    font-weight: 700;
    margin:50px 0;
    color: #000;
    padding:0 50px;
}

.first-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #555;
    padding:0 50px;
}

.gallery-description:hover {
    color: #4b1d6a;
}

.btn-text {
    font-size: 21px;
    color: #ffffff;
    background-color: #3CD8E8;
    padding: 9px 25px;
    border-radius: 40px;
    position: absolute;
    left: 40px;
    bottom: 343px;
    font-weight: 800;
}

.img{
    position: relative;
}
.btn a {
    display: inline-block;
    margin: 25px 0 0 20px;
    color: white;
    background: red;
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 30px;
    font-weight: bold;
    position: relative;
    top: -47px;
    bottom: 10px;
}

.gd{
    font-size: 16px;
    font-weight: 800;
    padding:0 0 50px 10px;
    line-height: 25px;
    margin-top: 0;
}

/*****************Stories Section End *****************/

/*****************Footer Section Start *****************/

footer {
    background-color: #01ACFD;
    display: flex;
    justify-content: center;
    padding:100px 0;

}

.footer-content{
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}
.footer-left{
    color:#fff;
}

.footer-left img{
    width: 120px;
}

.logo_text{
    font-size: 45px;
    font-weight: 800;
}

.left-content p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 35px;
    letter-spacing: 1.3px;
}

.footer-content li{
    list-style: none;
}

.footer-content li a{
    color:#fff;
}
.footer_title,.right_title{
    color:#FFFFFF;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 800;
}


.center_links{
    margin-bottom: 50px;
}

.center_links a{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding:8px 0;
}
.footer_icons{
    display: flex;
    gap: 15px;
}
.footer_icons i {
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 15px;
}

.fa-facebook-f{
    background:#3B5998;
}

.fa-dribbble{
    background:#EA4C89;
}

.fa-twitter{
    background:#1DA1F2;
}

.fa-google-plus{
    background:#DD4B39;
}

.footer_center{
    margin-left:50px;
}

.footer-center {
    margin-left: 70px;
}
/*****************Footer Section End *****************/





/*************** Responsive Part Start For Moible Device(Max-576px) ***************/

@media screen and (max-width: 576px) {
    header {
        padding: 0 50px 0 50px;
    }
    .logo-text,
    .logo-btn,
    .menu-section {
        display: none;
    }

    .marquee{
        width: 100%;
    }

    .nav-section {
        position: relative;
      }
      
      .nav-section::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px; 
        height: 1px;
        background-color:rgba(255, 166, 0, 0.504); 
      }

    .bar {
        display: block;
    }

    .menu-section {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .banner-button.b-btn {
        margin-top: 60px;
        display: inline-block;
    }

    .menu-links {
        flex-direction: column;
        gap: 10px;
    }

    .menu-links li {
        padding: 10px 0;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked ~ .menu-section {
        display: block;
}

.banner-content h1{
    font-size: 36px!important
}

.curriculum h2{
    font-size: 36px;
}

.curriculum {
    width: 100%;
    margin: 30px 0;
    padding: 0 0 30px 0;
}

.services {
    flex:grid;
    grid-template-columns: repeat(1, 1fr); 

}

.curriculum {
    width: 100%;
    margin: 30px 15px;
}
.services {
    flex-direction: column;
}

.service{
    margin:0;
    padding:25px 0;
    width: 100%;
}

.arrow-section{
    display: none;
}
.sbg{
    padding:30px 0;
}
.stories {
    width: 95%;
    padding: 0 5px;
}

.stories-title {
    font-size: 36px;
    margin-bottom: 40px;

}

.stories-gallery {
    grid-template-columns: repeat(2,1fr);
}
.stories-gallery img{
    width: 100%;
}

#first{
    display: none;
}

.stories-btn a {
    display: inline-block;
    font-size:20px;
    font-weight: 800;
   
}

.banner-button.stories-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center!important;
    margin-top: 30px;
   
}

.footer-content{
    width: 100%;
    grid-template-columns: 1fr;
    padding-left: 25px;
}

.footer-center {
    margin-left: 0;
}

.footer_title{
    margin-top: 30px;
}
}


/*************** Responsive Part End For Moible Device(Max-576px) ***************/

/*************** Responsive Part Star For Medium Device(Max-768px) ***************/
@media screen and (max-width: 768px) {

    header{
        padding: 50px;
    }
    .logo-text,
    .logo-btn,
    .menu-section {
        display: none;
    }

    .bar {
        display: block;
    }

    .menu-section {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .menu-links {
        flex-direction: column;
        gap: 10px;
    }

    .menu-links li {
        padding: 10px 0;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked ~ .menu-section {
        display: block;
}

.banner-section {
    flex-direction: column;
    text-align: center;
    padding: 100px 0 0 0;
}

.banner-img{
    order:-1;
    
}
.banner-img img{
    width: 100%;
}
.banner-content h1{
    font-size: 56px;
    margin-top:40px;
}

.banner-content p{
    font-size: 18px;
    
}

.b-btn{
    display: inline;
    text-align: justify;
}

.banner-button a,.stories-btn a{ 
    background-color: black;
    color:white;
    padding: 16px 60px;
    border-radius: 10px;
}

.curriculum{
    width: 100%;
    margin:30px 0;
    padding:50px 0;
}

.services {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap:0;
}

.service{
    padding: 50px 0;
    width: 90%;
    margin:0 auto;
}

.arrow-section{
    display: none;
}


}

/*************** Responsive Part Star For Medium Device(Max-768px) ***************/